@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IO.Swagger.Model.CurrencyPairsWrapper
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <tbody>

            @foreach (var currencyPair in Model.Currencies)
            {
                <tr class="table-row">
                    @{
                        var codeNameValue = localizer["Code" + currencyPair.Code];
                        string code = localizer["Code" + currencyPair.Code].Value;
                        string name = localizer["Name" + currencyPair.Code].Value;
                        if (codeNameValue.Name == codeNameValue.Value)
                        {
                            code = name;
                            name = "";
                        }
                    }
                    <td id="currencyName">@code<span class="currencyDescription">@name</span></td>

                    @{
                        var currencySymbol = string.IsNullOrEmpty(currencyPair.LocalCurrencySymbol) ? localizer["Currency" + Model.LocalCurrencyCode].Value : currencyPair.LocalCurrencySymbol;
                        var value = String.Format("{0}{1}{2}",
                              currencySymbol,
                              " ",
                              currencyPair.Values.LastOrDefault().Value);
                        }
                    <td>
                        @value
                    </td>
                    @{
                        var last = currencyPair.Values.LastOrDefault().Value;
                        var first = currencyPair.Values.First().Value;
                        var change = (last - first) / last;
                        var changeRate = Math.Round((decimal)change * 10000) / 100;
                        var changeRateFormatted = String.Format("{0}{1}{2}", "%", String.Empty, changeRate);

                    }
                    <td>@changeRateFormatted </td>
                </tr>
            }

        </tbody>
    </table>

    @{
        var header = string.Format(localizer["GoldAndCurrencyRatesToday"].Value, localizer["Country" + Model.LocalCurrencyCode].Value);
    }
    <h3>@header &nbsp; @DateTime.Now.ToString("dd-MM-yyyy")</h3>

    <table class="table">
        <tbody>
            @foreach (var currencyPair in Model.Currencies)
            {
                var isIncreased = currencyPair.Values.First().Value.Value < currencyPair.Values.Last().Value.Value ? true : false;
                var todayText = isIncreased == true ? "CurrencyTodayIncreasedText" : "CurrencyTodayDecreasedText";
                var text = string.Format(localizer[todayText].Value,
                    localizer["Name" + currencyPair.Code].Value,
                    localizer["Country" + Model.LocalCurrencyCode].Value,
                    string.IsNullOrEmpty(currencyPair.LocalCurrencySymbol) ? localizer["Currency" + Model.LocalCurrencyCode].Value : currencyPair.LocalCurrencySymbol,
                    string.Format("{0:N}", currencyPair.Values.First().Value.Value),
                    localizer["Currency" + Model.LocalCurrencyCode].Value,
                    string.Format("{0:N}", currencyPair.Values.Last().Value.Value));
                <tr class="table-row">
                    <td id="currencyName">@string.Format("{0}{1}{2}", localizer["Name" + currencyPair.Code].Value, " ", localizer["Today"].Value)</td>
                    <td class="dailyText">@text</td>
                </tr>

            }
            </tbody>
        </table>




            <h3>@string.Format(localizer["TitleWhatIsTola"].Value, localizer["Country"+ Model.LocalCurrencyCode].Value)</h3>
            <p>@localizer["DescriptionWhatIsTola"]</p>

            <h3>@string.Format(localizer["TitleWhatIsAnOunce"].Value, localizer["Country" + Model.LocalCurrencyCode].Value)</h3>
            <p>@localizer["DescriptionWhatIsAnOunce"]</p>

            <h3>@string.Format(localizer["TitleTolaGrams"].Value, localizer["Country" + Model.LocalCurrencyCode].Value)</h3>
            <p>@localizer["DescriptionTolaGrams"]</p>

            <h3>@string.Format(localizer["TitleKgTola"].Value, localizer["Country" + Model.LocalCurrencyCode].Value)</h3>
            <p>@localizer["DescriptionKgTola"]</p>

            <h3>@localizer["TitleTolaCountries"]</h3>
            <p>@localizer["DescriptionTolaCountries"]</p>



</div>

